* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.keyboard {
  width: 595px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 auto;
}

.keyboard__btn {
  width: 35px;
  height: 35px;
  transition: 0.5s;
}

.keyboard__btn_pressed {
  background-color: rgb(167, 255, 140);
}

.keyboard__btn:hover {
  cursor: pointer;
}

.instruction {
  width: fit-content;
  margin: 0 auto;
}

.area {
  width: 595px;
  height: 135px;
  margin: 0 auto;
  display: block;
}